<!DOCTYPE html>
<html lang="eng">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Hotels</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
    </head>
    <body>
        <div class="container mt-5 mainbody">
            <div class="text-center mb-4">
                <h1 class="centered">Hotels</h1>
                <h3 class="centered">Accommodations - Attendees</h3>
            </div>
            <table class="table table-striped table-hover">
                <thead class="thead-dark">
                    <tr >
                        <th class="text-center align-middle">First Name</th>
                        <th class="text-center align-middle">Last Name</th>
                        <th class="text-center align-middle">Church of origin</th>
                        <th class="text-center align-middle">Age</th>
                        <th class="text-center align-middle">Gender</th>
                        <th class="text-center align-middle">Cell phone</th>
                        <th class="text-center align-middle">Additional Notes</th>
                    </tr>
                </thead>
                <tbody>
                    {% for attendee in attendees %}
                    <tr>
                        <td class="text-center align-middle">{{ attendee['First name'] }}</td>
                        <td class="text-center align-middle">{{ attendee['Last name'] }}</td>
                        <td class="text-center align-middle">{{ attendee['Church of origin'] }}</td>
                        <td class="text-center align-middle">{{ attendee['Age'] }}</td>
                        <td class="text-center align-middle">{{ attendee['Gender'] }}</td>
                        <td class="text-center align-middle">{{ attendee['Cellphone'] }}</td>
                        <td class="text-center align-middle">{{ attendee['Additional Notes'] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="centered_button">
            <p></p>
            <button type="button" class="btn btn-primary" id="home">Home</button>
        </div>
        <footer class="footer bg-dark text-white text-center py-3 mt-3">
            <p>CCUS Youth Meeting. All Rights Reserved.</p>
        </footer>
        <script>
            function websiteAccess() {
                document.querySelector('#home').addEventListener('click', function() {
                    window.location.href = 'https://cautious-space-train-7vrv9jgvx66pfx767-5000.app.github.dev/';
                 });
           }

           // Cakk the function to attach the event listener
           websiteAccess();
        </script>
    </body>
</html>
